[Unit]
Description=ART Autonomy Launch
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/default/race_common
Type=simple
ExecStart=/bin/bash ${RACE_COMMON_DIR}/src/tools/art_startup_services/launch/autonomy.bash
TimeoutStartSec=600s
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target

