[Unit]
Description=FRC-ROS Autonomy Launch
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/default/frc-ros
Type=simple
ExecStart=/bin/bash ${FRC_ROS_DIR}/src/tools/startup_services/launch/cameras_iac.bash
TimeoutStartSec=600s
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target

